.aboutalign {
    text-align: right !important;
}
@media (min-width: 1281px) {
    .aboutalign {
        text-align: right !important;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .aboutalign {
        text-align: right !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .aboutalign {
        text-align: right !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .aboutalign {
        text-align: right !important;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .aboutalign {
        text-align: left !important;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .aboutalign {
        text-align: left !important;
    }
}

.font1color {
    color: #ffffff;
}
.about-main {
    font-weight: 600 !important;
    font-size: 50px !important;
}
.about-head {
    font-weight: 500 !important;
    font-size: 30px !important;
}
.about-subhead {
    font-weight: 200 !important;
    font-size: 20px !important;
    letter-spacing: 3px !important;
}
.about-main1 {
    font-weight: 100 !important;
    font-size: 16px !important;
    letter-spacing: 3px !important;
}
.about-para {
    font-weight: 100 !important;
    font-size: 15px !important;
    letter-spacing: 2px !important;
}
.about-number {
    font-weight: 700 !important;
    font-size: 70px !important;
    letter-spacing: 2px !important;
}
.about-number-sub {
    font-weight: 100 !important;
    font-size: 12px !important;
    letter-spacing: 2px !important;
    color: red
}
.about-quote-sub {
    font-weight: 400 !important;
    font-size: 55px !important;
    color: #196ea4 !important;
}
.about-quote-title {
    font-weight: 200 !important;
    font-size: 25px !important;
}
.padabout {
    padding-left:13% !important;
    padding-right:13% !important;
}
/* Animation */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.fumacoFont_about_caption{
    font-weight: 200 !important;
}

p{
    letter-spacing: 0.1em !important;
}
.abt_standard{
    font-family: 'poppins', sans-serif !important;
    text-decoration: none !important;
}
.row.display-flex {
display: flex;
flex-wrap: wrap;
}
.img-thumbnail {
height: auto;
}